<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi! <%= @user.name %>, </h1>
    <p><%= @product.name %> is out of stock.</P>

    <p>Please visit the supplier's web site and reorder.</p>

    <p>Thank you for your hard work and have a great day!</p>
  </body>
</html>
